= form_for :comment, url: comments_path, turboboost: true, method: :post  do |f|
  .modal.fade#add_comment 
    .modal-dialog 
      .modal-content
        .modal-header Add a comment
        .modal-body
          = hidden_field_tag 'movie_id', @movie.id
          .row
            .col-md-12
              .form-group
                %p= f.label :comment_content, "Comment content"
                %p= f.text_area :comment_content, class: 'form-control'
        .modal-footer
          %button.btn.custom-btn{:type=>"submit"} Save
          %button.btn.btn-default{:data-dismiss=>"modal"} Cancel