.row
  .col-md-8.col-md-offset-2.col-lg-8.col-lg-offset-2
    %h1.text-center Movies
<<<<<<< HEAD
    = render 'movies_table', movies: @movies
=======
    = render 'movies_table', movies: @movies, movies_data: @movies_data

>>>>>>> 15534dd... SEP Task 1
